.splash-container {
        background: #040 url("../img/main.jpg") no-repeat center top;
	background-size: 100% 100%;
	height: 100%;
}

.splash-head {
	/*border: 0;*/
	border-color: #603;
}

div.centered {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center }

.mgl{
    margin-left: 50px;
}

.content-wrapper {
	top: 100%;
}

.messages { }
.messages ul { list-style-type: none; padding: 0; }
.msg{
	border-radius: 0.5em;
	padding: 1em;
	margin-bottom: 0.5em;
	box-shadow: 0.2em 0.2em 0.4em #ccc;
}
.info{ background-color: #8f8; color: #222;}
.error{	background-color: #f88; color: #222;}
.warning{ background-color: #fd2; color: #222;}


.coms {
	padding: 1em 1em 1em 3em;
	border-radius: 1em;
	background-color: #8ff;
	color: #222;
}

.inf {
	padding: 1em 1em 1em 3em;
	border-radius: 1em;
	background-color: #8f8;
	color: #222;
}

.res {
	padding: 1em 1em 1em 1.5em;
	border-radius: 1em;
	background-color: #ff0;
	color: #222;
}

.bottom-margin{
	margin-bottom: 1em;
}

.top-margin{
	margin-top: 1em;
}
